<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

    <header id="header">
        <div class="column logo">
            <a href="/"><img src="/img/logo.svg" alt="Cipher logo"></a>
        </div>
        <div class="column">
            <input type="text" name="search" placeholder="Search for a recipe">
        </div>
        <nav class="column">
            {{#if isAuthenticated}}
            <button id="dropDownBtn" onclick="dropDown()"><img src="/img/profile.svg" alt=""></button>
            <ul id="dropDownMenu">
                <li><a href="/recipe/create-recipe"><img src="/img/add.svg" alt="">Create recipe</a></li>
                <li><a href="/user/profile"><img src="/img/profile.svg" alt="">Profile</a></li>
                <li><a href="/user/logout"><img src="/img/logout.svg" alt="">Logout</a></li>
            </ul>

            {{else}}
            <a class="btn" href="/user/login">Login</a>
            <a class="btn btn-primary" href="/user/register">Sign Up!</a>
            {{/if}}
        </nav>
    </header>


    <script type="text/javascript">

        function dropDown() {
            document.getElementById("dropDownMenu").classList.toggle("show");
        }

        window.addEventListener('scroll', scrollFunctions);
        // window.addEventListener("mousemove", followMouse);

        function scrollFunctions() {
            headerClassAdder();
        }

        // Changes header style on scroll
        function headerClassAdder() {
            var element = document.getElementById('header');
            var scrollPos = window.scrollY;

            if (scrollPos >= 1) {
                element.classList.add('scrolled');
            } else {
                element.classList.remove('scrolled');
            }
        }
    </script>
</body>
</html>
