<div class="container">
    {{> header}}
    <h1>404</h1>
    <h1>The cupboards are bare :(</h1>
    <p>We couldn’t find the page you were looking for but here are some other great recipes.</p>

    <ul>
        <li>
            <article class="recipe-thumbnail-small">
                <img src="img/" alt="">
                <h3>Some other recipe with lots of other ingredients</h3>
                <p>alexjhill  •  45 mins  •  Easy</p>
            </article>
        </li>
        <li>
            <article class="recipe-thumbnail-small">
                <img src="img/" alt="">
                <h3>Some other recipe with lots of other ingredients</h3>
                <p>alexjhill  •  45 mins  •  Easy</p>
            </article>
        </li>
        <li>
            <article class="recipe-thumbnail-small">
                <img src="img/" alt="">
                <h3>Some other recipe with lots of other ingredients</h3>
                <p>alexjhill  •  45 mins  •  Easy</p>
            </article>
        </li>
    </ul>
</div>
