{{> header}}

<div class="container">

    <a href="/article/{{ article._id }}/delete">Delete</a>
    <br>
    <a href="/article/{{ article._id }}/edit">Edit</a>

    <h1>{{ article.title }}</h1>
    <h1>{{ article.body }}</h1>

</div>
